:root {
  --offwhite: rgb(155, 152, 145);
  --dark-blue: rgb(80, 80, 208);
  --dark-red: rgb(98, 30, 30);
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/background3.jpg");
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  color: var(--offwhite);
  font-size: 1em;
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.container {
  margin: 0 auto;
  height: 100vh;
}

.nav-list-items {
  list-style-type: none;
}

.hover {
  text-decoration: none;
  color: var(--offwhite);
  text-shadow: 1 1px 2px var(--offwhite);
  font-size: 1.2em;
  padding: 5px;
  letter-spacing: 1px;
}
.hover:hover {
  border-bottom: var(--dark-red) solid 2px;
  box-shadow: 0 0 10px var(--dark-red);
}

.nav-bar ul {
  display: flex;
  padding-inline-start: 0;
  margin: 0;
  gap: 20px;
  font-weight: 400;
}

/* move the nav items to left */
.nav-bar .nav-list-items:nth-child(2) {
  margin-left: auto;
}

.nav-bar {
  padding: 10px;
}

.hero {
  margin: 50px;
}
.heading {
  display: flex;
  justify-content: center;
  font-size: 4em;
  line-height: 1em;
  font-weight: 200;
  color: white;
}

.left-heading {
  font-weight: 700;
  text-shadow: 0 0 3px white;
  color: var(--offwhite);
}

.bootcamp {
  font-family: changa;
  text-align: center;
  font-weight: 800;
  font-size: 1.2em;
  padding-left: 10px;
  letter-spacing: 15px;
  color: white;
  width: fit-content;
  margin-bottom: 50px;
  margin: 20px auto 20px auto;
}

.header-text {
  width: 50%;
  text-align: center;
  margin: 50px auto;
  font-size: 1.2em;
  font-weight: 200;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

form {
  margin: 100px auto;
  display: flex;
  width: 45%;
  box-shadow: 1px 1px 5px var(--dark-blue), -1px -1px 5px var(--dark-blue);
}

#email {
  width: 70%;
  background: none;
  border: none;
  padding: 20px;
  font-size: 1.5em;
  color: var(--dark-blue);
}

button {
  background: none;
  border: none;
  padding: 20px;
  margin-left: auto;
  color: white;
  font-weight: 800;
  font-size: 1.5em;
  width: 30%;
  cursor: pointer;
}
button:hover {
  box-shadow: 1px 1px 5px var(--dark-blue), -1px -1px 5px var(--dark-blue);
}

.content {
  display: flex;
  margin: 100px 200px;
  gap: 20px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.04),
    rgba(60, 60, 72, 0.525),
    rgba(0, 0, 0, 0.048)
  );
}

.text-content {
  width: 50%;
  font-weight: 300;
  font-size: 1.2em;
  color: var(--offwhite);
}

.image {
  width: 50%;
  height: 430px;
  border-radius: 50px;
  box-shadow: 0 0 10px var(--dark-red);
}
h2 {
  margin-top: 0;
  font-family: changa;
  text-align: right;
  line-height: 20px;
  color: white;
}

#to-top {
  width: fit-content;
  font-weight: 600;
  margin: 0 auto;
}
