:root {
  --offwhite: rgb(255, 233, 193);
  --dark-blue: rgb(64, 64, 139);
  --dark-red: rgb(81, 24, 24);
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/background3.jpg");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  color: var(--offwhite);
  font-size: 1em;
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.container {
  margin: 0 auto;
  height: 100vh;
}

.nav-bar .nav-list-items {
  list-style-type: none;
}

.nav-bar .nav-list-items a {
  text-decoration: none;
  color: antiquewhite;
  text-shadow: 1 1px 2px rgb(206, 206, 206);
  font-size: 1.2em;
  padding: 5px;
  letter-spacing: 1px;
}
.hover:hover {
  border-bottom: var(--dark-red) solid 2px;
  box-shadow: 0 0 10px var(--dark-red);
}

.nav-bar ul {
  display: flex;
  padding-inline-start: 0;
  margin: 0;
  gap: 20px;
  font-weight: 400;
}

/* move the nav items to left */
.nav-bar .nav-list-items:nth-child(2) {
  margin-left: auto;
}

.nav-bar {
  padding: 10px;
}

.hero {
  margin: 50px;
}
.heading {
  display: flex;
  justify-content: center;
  font-size: 4em;
  line-height: 1em;
}

.left-heading {
  color: var(--dark-blue);
  width: 50%;
  text-align: right;
  font-weight: 600;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6),
    rgba(60, 60, 72, 0.407)
  );
  padding-right: 2px;
  padding: 3px;
}

.right-heading {
  width: 50%;
  text-align: left;
  color: rgb(255, 255, 255);
  letter-spacing: 5px;
  padding: 3px;
  font-weight: 200;
  text-shadow: 0 0 5px white;
}

.bootcamp {
  font-family: changa;
  text-align: center;
  font-weight: 800;
  font-size: 1.2em;
  padding-left: 10px;
  letter-spacing: 15px;
  color: white;
  box-shadow: 0 0 10px var(--dark-red);
  text-shadow: 0 0 1px white;
  width: fit-content;
  margin-bottom: 100px;
}

.centralize {
  margin-top: 10px;
  margin-left: 465px;
}
form {
  display: flex;
  width: 44.5%;
}

#email {
  width: 70%;
  background: none;
  border: none;
  border: 2px solid var(--dark-blue);
  padding: 20px;
  font-size: 1.5em;
  color: aliceblue;
}

button {
  border: none;
  padding: 20px;
  margin-left: auto;
  color: var(--dark-blue);
  font-weight: 800;
  font-size: 1.5em;
  width: 30%;
}
